<launch>
	<!-- PARAMETERS FOR SETTING UP ROBOT STATE-->
	<!-- BATTERY CONTROLLER -->
	<param name="battery_controller_execution_mode" type="str" value="MANUAL" />
    <param name="battery_intial_value" type="int" value="100" />
    <!-- MOVE CONTROLLER -->
    <param name="move_controller_execution_mode" type="str" value="MANUAL" />

	<!-- LAUNCHING NODE -->
    <node name="robot_state" pkg="robot_behaviour" type="robot_state.py" output="screen"/>
</launch>
