<launch>
	<!-- BATTERY CONTROLLER -->
	<arg name="execution_mode" default="MANUAL" />
	<param name="execution_mode" type="str" value="$(arg execution_mode)" />
    <arg name="battery_intial_value" default="100" />
    <param name="battery_intial_value" type="int" value="$(arg battery_intial_value)" />

	<!-- LAUNCHING NODE -->
    <node name="battery_controller" pkg="stimulus_arch" type="battery_controller.py" output="screen"/>
</launch>
